<div id="connection-window">
  <div class="sticky top-0 z-10 p-5 flex items-center justify-between">
    <div class="text-center text-3xl sm:text-5xl">level <span data-testid="current-round-num">{{model.currentRound}}</span></div>
    <div class="text-center text-3xl sm:text-5xl"><i class="fa-solid fa-heart"></i> : <span data-testid="current-lives-count">{{model.currentLivesCount}}</span></div>
    <div class="text-center text-3xl sm:text-5xl"><form ws-send><input type="checkbox" hidden {% if model.isVotingToThrowStar %}checked{% endif %} class="peer" data-testid="is-voting-to-throw-star-checkbox"><input type="hidden" name="action" value="{% if model.isVotingToThrowStar %}revokeVote{% else %}vote{% endif %}"><button type="submit" class="transition ease-in-out peer-checked:text-amber-500 duration-300" data-testid="vote-to-throw-star-button" {% if model.currentThrowingStarsCount == 0 %}disabled{% endif %}><i class="fa-solid fa-star"></i></button> : <span data-testid="current-throwing-stars-count">{{model.currentThrowingStarsCount}}</span></form></div>
    {% include "leave-button.html" %}
  </div>
  <div class="mx-5 flex flex-wrap gap-5 justify-center" data-testid="other-players">
    {% for player in model.otherPlayers %}
    <div class="group rounded-3xl border-amber-500 border-2" data-testid="other-player">
      <div class="flex gap-3 max-w-56 px-5">
        <div class="pt-3 mx-auto text-center truncate" data-testid="player-name" data-testplayername="{{player.name}}">{{player.name}}</div>
        {% if player.isVotingToThrowStar %}<div class="pt-3 text-center" data-testid="throwing-star-vote-indicator"><i class="fa-solid fa-star"></i></div>{% endif %}
      </div>
      <div class="relative min-w-56 min-h-64 flex justify-center items-center">
        {% for _ in 0..(player.cardCount - 1) %}
        <div class="transition ease-in-out group-hover:rotate-[{{transformation(loop.index, loop.length, 12)}}deg] duration-300 absolute origin-bottom-left rotate-[{{transformation(loop.index, loop.length, 4)}}deg] w-24 h-36 rounded-lg border-amber-500 border-2 bg-zinc-800" data-testid="card"></div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="m-5 flex items-center justify-center">
    <div class="group min-h-72 max-w-xl grow flex items-center justify-center rounded-3xl border-rose-800 border-2 relative" data-testid="played-cards">
      {% for value in model.playedCards %}
      <div
        class="transition ease-in-out group-hover:rotate-[{{transformation(loop.index, loop.length, 1)}}deg] group-hover:translate-x-[{{transformation(loop.index, loop.length, 32)}}px] duration-300 absolute origin-bottom-left">
        {{ card(value, "border-rose-800") }}
      </div>
      {% endfor %}
      <div class="absolute right-5 bottom-5 text-xs text-center">
        <span>level reward</span>
        <div class="mt-2 mx-auto flex items-center justify-center rounded-lg border-indigo-500 border-2 size-8" data-testid="level-reward">
          {% if model.levelReward == "LIFE" %}
          <i class="fa-solid fa-heart" data-testid="life"></i>
          {% elseif model.levelReward == "STAR" %}
          <i class="fa-solid fa-star" data-testid="star"></i>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="m-5 flex items-center justify-evenly" data-testid="card-list">
    <form ws-send>
      <input type="hidden" name="action" value="play">
      <button type="submit" class="relative w-1 min-h-80 flex items-center justify-evenly" data-testid="play-card-button">
        {% for value in model.cards | reverse %}
        <div
          class="absolute origin-bottom-left rotate-[{{transformation(loop.index, loop.length, 4)}}deg] translate-x-[{{transformation(loop.index, loop.length, 24)}}px]">
          {{ card(value, "border-indigo-500") }}
        </div>
        {% endfor %}
      </button>
    </form>
  </div>
</div>

{% macro card(value, borderColour) %}
<div class="relative w-36 h-52 rounded-xl {{borderColour}} border-4 bg-zinc-300 text-zinc-900">
  {% if value %}
  <div class="absolute size-full flex items-center justify-center text-6xl font-extrabold" data-testid="card-value">{{value}}</div>
  <div class="absolute px-1 font-semibold text-lg">{{value}}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro transformation(index, total, n) %}{{ (n * (index - ((total - 1.0) / 2))) | numberformat("#") }}{% endmacro %}
