<div id="connection-window">
  <p>lives: <b data-testid="current-lives-count">{{model.currentLivesCount}}</b></p>
  <div data-testid="card-list">
    <ul>
      {% for card in model.cards %}
      <li data-testid="card-item">
        {% if loop.first %}
        <form ws-send>
          <input type="hidden" name="action" value="play">
          <button type="submit" data-testid="play-card-button">{{ card }}</button>
        </form>
        {% else %}
        {{ card }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <form ws-send>
      <input type="hidden" name="action" value="vote">
      <button type="submit" data-testid="vote-to-throw-star-button"
              {% if model.currentThrowingStarsCount == 0 %}disabled{% endif %}>
        vote to throw star
      </button>
    </form>
    <ul data-testid="players-voting-to-throw-star">
      {% for playerName in model.playersVotingToThrowStar %}
      <li data-testid="player-name">{{ playerName }}</li>
      {% endfor %}
    </ul>
    <p>throwing stars:
      <b data-testid="current-throwing-stars-count">{{model.currentThrowingStarsCount}}</b>
    </p>
  </div>
</div>
