<div id="connection-window">
  <div data-testid="card-list">
    <ul>
      {% for card in model.cards %}
      <li data-testid="card-item">
        {% if loop.first %}
        <form ws-send>
          <input type="hidden" name="action" value="play">
          <button type="submit" data-testid="play-card-button">{{ card }}</button>
        </form>
        {% else %}
        {{ card }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <form ws-send>
      <input type="hidden" name="action" value="vote">
      <button type="submit" data-testid="vote-to-throw-star-button">vote to throw star</button>
    </form>
    <ul data-testid="players-voting-to-throw-star">
      {% for playerName in model.playersVotingToThrowStar %}
      <li data-testid="player-name">{{ playerName }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
