<div id="connection-window">
  <div class="sticky top-0 z-10 p-5 flex items-center justify-between">
    <div class="text-center text-xl sm:text-5xl">game code : <b class="pl-2 text-3xl tracking-[0.25em]" data-testid="game-id">{{model.gameId}}</b></div>
    {% include "leave-button.html" %}
  </div>
  {% include "all-players.html" %}
  {% if model.isHost %}
  <form ws-send>
    <input type="hidden" name="action" value="start">
    <div class="text-center">
      <button type="submit" {% if model.allPlayers | length < 2 %}disabled{% endif %} class="py-2 px-4 sm:px-6 rounded-lg bg-indigo-500 disabled:bg-gray-500 disabled:text-gray-700 text-center text-xl sm:text-2xl" data-testid="start-game-button">start</button>
    </div>
  </form>
  {% endif %}
</div>
