name: Run tests
on:
  push:
    branches-ignore:
      - main
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
      - uses: gradle/actions/setup-gradle@v3
      - run: ./gradlew check
